@font-face {
  font-family: $font-primary;
  src: url('~/assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf');
  font-weight: 400 900;
  font-display: swap;
}

@font-face {
  font-family: $font-secondary;
  src: url('~/assets/fonts/Nunito/Nunito-VariableFont_wght.ttf');
  font-weight: 100 900;
  font-display: swap;
}

html,
body {
  font-family: $font-secondary-stack;
  color: $color-black;
}
