<template>
  <div class="animated-background-icon">
    <slot><font-awesome-icon class="animated-background-icon__icon" :icon="icon" /></slot>
  </div>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      default: 'fa-solid fa-code'
    }
  },

  mounted() {
    this.rotateIcon();

    setTimeout(() => {
      this.rotateIcon();
    }, 1000);

    this.animateIcon();
  },

  methods: {
    animateIcon() {
      setTimeout(() => {
        this.rotateIcon();
        this.animateIcon();
      }, 20000 + 15000 * Math.random());
    },

    rotateIcon() {
      this.$el.style.setProperty('--animated-background-icon-rotaion-degrees', `${Math.random() * 720}deg`);
    }
  }
}
</script>

<style lang="scss">
.animated-background-icon__icon {
  font-size: $font-sizing * 20;
  color: $color-secondary;
  transform: rotate(var(--animated-background-icon-rotaion-degrees, 360deg));
  transition: 32s transform;
  stroke: $color-black;
  stroke-width: 1px;
}

@include media-breakpoint-up(sm) {
  .animated-background-icon__icon {
    font-size: $font-sizing * 40;
  }
}
</style>
