<template>
  <div class="animated-background-playground">
    <slot />
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.animated-background-playground {
  position: absolute;
  inset: 0;
}
</style>
