<template>
  <div :class="['content-page-navigation-item', ...classes]"></div>
</template>

<script>
export default {
  props: {
    active: {
      default: false,
      type: Boolean
    }
  },
  computed: {
    classes() {
      const classes = [];

      if (this.active) {
        classes.push('content-page-navigation-item--active');
      }

      return classes;
    }
  }
}
</script>

<style lang="scss">
$page-item-size: $horizontal-spacing * 3;

.content-page-navigation-item {
  position: relative;
  width: $page-item-size;
  height: $page-item-size;
  animation: 2s fade-in;

  &::before {
    position: absolute;
    content: '';
    display: block;
    width: $page-item-size;
    height: $page-item-size;
    background: $color-black;
    border-radius: 100%;
    box-shadow: 3px 2px 3px fade-out($color-black, 0.8);
    transition: background-color 0.5s;
  }

  &::after {
    position: absolute;
    margin: auto;
    inset: 0;
    content: '';
    display: block;
    width: 0;
    height: 0;
    background: $color-white;
    border-radius: 100%;
    transition: width 0.5s, height 0.5s;
  }

  &--active,
  &:hover {
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: $page-item-size - 6;
      height: $page-item-size - 6;
    }
  }

  &:hover:not(.content-page-navigation-item--active) {
    cursor: pointer;

    &::before {
      background-color: $color-primary;
    }
  }
}
</style>
