<template>
  <span class="typing-cursor">|</span>
</template>

<script>
export default {}
</script>

<style lang="scss">
.typing-cursor {
  animation: 1s blinking infinite;
  user-select: none;
}
</style>
