<template>
  <span :class="['typing-list', ...classes]">
    <span ref="typing-text" class="typing-list__text"></span><ui-typing-cursor class="typing-list__cursor" />
  </span>
</template>

<script>
import { gsap } from 'gsap';
import { TextPlugin } from 'gsap/TextPlugin';

gsap.registerPlugin(TextPlugin);

export default {
  props: {
    words: {
      type: Array,
      default() {
        return ['words', 'for', 'the', 'typing', 'list'];
      }
    }
  },

  data() {
    return {
      currentWordIndex: 0,
      isCursorAtTheEnd: true,
      isMounted: false
    }
  },

  computed: {
    classes() {
      const classes = [];

      !this.isCursorAtTheEnd && classes.push('typing-list--cursor-before');

      return classes;
    }
  },

  mounted() {
    this.isMounted = true;
    this.animateWord();
  },

  beforeDestroy() {
    this.isMounted = false;
  },

  methods: {
    animateWord() {
      if (!this.isMounted) {
        return;
      }

      if (this.currentWordIndex >= this.words.length) {
        this.currentWordIndex = 0;
      };

      this.isCursorAtTheEnd = true;
      const word = this.words[this.currentWordIndex++];

      gsap.to(this.$refs['typing-text'], { duration: 1, text: word }).then(() => {
        this.isCursorAtTheEnd = false;

        gsap.to(this.$refs['typing-text'], { delay: 5, duration: 1, text: '' }).then(() => {
          this.animateWord();
        });
      });
    }
  }
}
</script>

<style lang="scss">
.typing-list {
  display: inline-flex;

  &__cursor {
    display: inline-block;
    order: 2;
  }

  &__text {
    display: inline-block;
    order: 1;
  }

  &--cursor-before {
    .typing-list__cursor {
      order: 1;
    }

    .typing-list__text {
      order: 2;
    }
  }
}
</style>
