<template>
  <ui-animated-background-playground class="animated-background">
    <ui-animated-background-icon  ref="background-icon-bug" icon="fa-solid fa-bug" class="animated-background__icon animated-background__icon--bug" />

    <template v-for="item in 6">
      <ui-animated-background-icon ref="background-icon" :key="item" class="animated-background__icon" />
    </template>
  </ui-animated-background-playground>
</template>

<script>
export default {
  mounted() {
    this.shuffleIcons();

    setTimeout(() => {
      this.shuffleIcons();
    }, 1000);

    this.getIconComponents().forEach((component) => {
      this.animateIcon(component);
    });
  },

  methods: {
    animateIcon(iconComponent) {
      setTimeout(() => {
        this.shuffleIcon(iconComponent);
        this.animateIcon(iconComponent);
      }, 20000 + 15000 * Math.random())
    },

    shuffleIcon(iconComponent) {
      const randomXPos = Math.random() * 100;
      const randomYPos = Math.random() * 100;

      iconComponent.$el.style.setProperty('--animated-background-icon-pos-x', `${randomXPos}%`);
      iconComponent.$el.style.setProperty('--animated-background-icon-pos-y', `${randomYPos}%`);
    },

    shuffleIcons() {
      this.getIconComponents().forEach((component) => {
        this.shuffleIcon(component);
      });
    },

    getIconComponents() {
      return [
        ...this.$refs['background-icon'],
        ...[this.$refs['background-icon-bug']]
      ]
    }
  }
}
</script>

<style lang="scss">
.animated-background {
  overflow: hidden;
}

.animated-background__icon {
  position: absolute;
  z-index: 0;
  top: var(--animated-background-icon-pos-x, 50%);
  left: var(--animated-background-icon-pos-y, 50%);
  transform: translate(calc(var(--animated-background-icon-pos-x, 50%) * -1), calc(var(--animated-background-icon-pos-y, 50%) * -1));
  transition: 32s transform, 32s top, 32s left;

  &--bug svg {
    color: $color-primary;
    width: $horizontal-spacing * 10;
  }
}
</style>
