<template>
  <div class="avatar">
    <avatar-svg />
  </div>
</template>

<script>
import AvatarSvg from '@/assets/svg/avatar.svg?inline';

export default {
  components: {AvatarSvg}
}
</script>

<style lang="scss">
@keyframes avatar-wiggle {
  0% {
    transform: matrix(0.9986295346632303,0.05233595798588091,-0.05233595798588091,0.9986295346632303,7.9874402315591055,-5.02802599807265);
  }

  50% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  100% {
    transform: matrix(0.9986295346632303,0.05233595798588091,-0.05233595798588091,0.9986295346632303,7.9874402315591055,-5.02802599807265);
  }
}

#svga-group-head {
  animation: 7.5s avatar-wiggle infinite;
}

.avatar  {
  aspect-ratio: 1 / 1;
  width: 100%;
  border: 6px solid $color-black;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 3px 2px 3px fade-out($color-black, 0.8);
  background-color: $color-white;

  svg {
    width: 100%;
    height: 100%;
  }
}
</style>
