<template>
  <div class="badge">
    <div class="badge__text">
      <slot>badge text</slot>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.badge {
  display: inline-block;
  background: $color-black;
  color: $color-white;
  padding: $vertical-spacing $horizontal-spacing * 1;
  font-family: $font-primary-stack;
  font-size: $font-sizing * 5;
  line-height: $vertical-spacing * 4;
  border-radius: 15px;
}

@include media-breakpoint-up(sm) {
  .badge {
    font-size: $font-sizing * 7;
    padding: $vertical-spacing $horizontal-spacing * 2;
  }
}
</style>
