<template>
  <div class="badge-list">
    <slot>
      <ui-badge />
      <ui-badge />
    </slot>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
.badge-list {
  display: flex;
  flex-wrap: wrap;
  gap: $vertical-spacing;
}
</style>
