<template>
  <div class="beating-icon-wrapper">
    <slot>
      <font-awesome-icon class="beating-icon" icon="fa-solid fa-heart" />
    </slot>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.beating-icon-wrapper {
  width: 50px;
}

.beating-icon {
  width: 100%;
  height: auto;
  animation: 2.0s beating infinite;
}
</style>
