<template>
  <div class="button-list">
    <slot>
      <ui-button-round href="https://gitlab.com/mbertram" />
      <ui-button-round href="https://www.xing.com/profile/Marvin_Bertram2/" icon="fa-brands fa-xing" />
      <ui-button-round href="mailto:marvin.bertram@vin-code.dev" icon="fa-solid fa-envelope" />
    </slot>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.button-list {
  display: flex;
  flex-wrap: wrap;
  gap: $vertical-spacing * 2;
}
</style>
