<template>
  <a :href="href" target="blank" class="button-round">
    <slot>
      <font-awesome-icon class="button-round__icon" :icon="icon" />
    </slot>
  </a>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      default: 'fa-brands fa-gitlab'
    },

    href: {
      type: String,
      default: '/'
    }
  }
}
</script>

<style lang="scss">
.button-round {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $vertical-spacing * 9;
  width: $horizontal-spacing * 9;
  border-radius: 100%;
  background: $color-primary;
  color: $color-white;
  font-size: $font-sizing * 10;
  border: 1px solid $color-white;

  &__icon {
    transform: scale(1);
    transition: transform 0.5s;
  }

  &:hover &__icon {
    transform: scale(1.2);
  }
}

@include media-breakpoint-up(sm) {
  .button-round {
    height: $vertical-spacing * 10;
    width: $horizontal-spacing * 10;
  }
}
</style>
