<template>
  <div class="container">
    <slot />
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.container {
  margin: auto;
  padding: 0 $horizontal-spacing * 5;
  width: 100%;
  max-width: $container-max-width;
}

@include media-breakpoint-up(sm) {
  .container {
    padding: 0 $horizontal-spacing * 9;
  }
}
</style>
