<template>
  <div class="content-page">
    <slot>Page content goes in here</slot>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.content-page {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: $vertical-spacing * 15 0 $vertical-spacing * 10 0;
}
</style>
