<template>
  <div class="copyright">
    <div class="copyright__icon">
      <font-awesome-icon icon="fa-solid fa-copyright" />
    </div>

    <div class="copyright__text">
      Marvin Bertram
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.copyright {
  display: inline-flex;
  gap: $horizontal-spacing;
  font-family: $font-primary-stack;
}

@include media-breakpoint-up(sm) {
  .copyright {
    font-size: $font-sizing * 6;
  }
}
</style>
