<template>
  <div class="film-strip">
    <ui-content-page-navigation
      class="film-strip__content-page-navigation"
      :items="pages"
      :active-item="activePage"
      @pageItemChanged="onPageItemChanged"
    />

    <template v-for="page in pages">
        <ui-content-page
          :id="'page-' + page"
          :ref="'page-' + page"
          :key="page"
          class="film-strip__content-page"
        >
          <slot :name="`page-${page}`">
            page {{ page }}
          </slot>
        </ui-content-page>
    </template>
  </div>
</template>

<script>
import { gsap } from 'gsap';
import { ScrollToPlugin } from 'gsap/ScrollToPlugin';
import { buildThresholdList } from '~/plugins/scroll-observer.client';

gsap.registerPlugin(ScrollToPlugin);

export default {
  props: {
      pages: {
        type: Number,
        default: 5
      }
  },

  data() {
    return {
      activePage: {
        type: Number,
        default: 1
      }
    };
  },

  mounted() {
    for (let pageNumber = 1; pageNumber <= this.pages; pageNumber++) {
      const pageComponent = this.$refs[`page-${pageNumber}`][0];

      this.$scrollObserver(pageComponent.$el, this.onPageScrolledIntoView.bind(this, pageNumber ), { threshold: buildThresholdList(50) });
    }
  },

  methods: {
    onPageScrolledIntoView(page, observerEntries) {
      const intersectionRatio = observerEntries[0].intersectionRatio;

      if (intersectionRatio > 0.5) {
        this.activePage = page;
      }
    },

    onPageItemChanged(detail) {
      const newActiveItem = detail.activeItem;
      const $el = this.$refs[`page-${newActiveItem}`][0].$el;

      gsap.to(window, { duration: 2, scrollTo: $el });
    }
  }
}
</script>

<style lang="scss">
.film-strip__content-page-navigation {
  position: fixed;
  right: $horizontal-spacing * 1;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1500;
}

.film-strip__content-page {
  &:nth-child(2n + 1) {
    background-color: $color-secondary;
  }
}

@include media-breakpoint-up(sm) {
  .film-strip__content-page-navigation {
    right: $horizontal-spacing * 3;
  }
}
</style>
