<template>
  <nav class="footer-navigation">
    <nuxt-link to="/imprint" class="footer-navigation__link">
      Imprint
    </nuxt-link>
  </nav>
</template>

<script>
export default {}
</script>

<style lang="scss">
.footer-navigation {
  display: flex;
  font-family: $font-primary-stack;
}

.footer-navigation__link {
  text-decoration: none;
}

@include media-breakpoint-up(sm) {
  .footer-navigation {
    font-size: $font-sizing * 6;
  }
}
</style>
