<template>
  <footer class="footer">
    <ui-container class="footer__container">
      <ui-copyright />
      <ui-footer-navigation />
    </ui-container>
  </footer>
</template>

<script>
export default {}
</script>

<style lang="scss">
.footer {
  width: 100%;
  padding: $vertical-spacing * 2 0;
}

.footer__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
</style>
