<template>
  <header :class="['header', ...classes]">
    <ui-container class="header__container">
      <ui-logo class="header__logo" />
      <ui-icon-navigation class="header__icon-navigation" />
    </ui-container>
  </header>
</template>

<script>
export default {
  data() {
    return {
      headerSrolled: false,
    }
  },

  computed: {
    classes() {
      const classes = [];

      this.headerSrolled && classes.push('header--scrolled');

      return classes;
    }
  },

  mounted() {
    window.addEventListener('scroll', this.onScroll);
    this.onScroll();
  },

  methods: {
    onScroll() {
      const scrollPosition = document.documentElement.getBoundingClientRect().y;

      this.headerSrolled = !!scrollPosition;
    }
  }
}
</script>

<style lang="scss">
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: $vertical-spacing * 2 0 $vertical-spacing 0;
  background: $color-white;
  z-index: 2000;
  transition: padding 2.5s;

  .icon-navigation__link,
  .logo {
    transition: width 2.5s, font-size 2.5s;
  }

  &.header--scrolled {
    padding: $vertical-spacing * 2 0 $vertical-spacing 0;

    .icon-navigation__link {
      font-size: $font-sizing * 9;
    }

    .logo {
      width: 75px;
    }

    &::after {
      width: 100%; //  calc(min(100%, $container-max-width) - $horizontal-spacing * 25);
    }
  }

  &::after {
    position: absolute;
    display: block;
    content: '';
    bottom: -1px;
    width: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(291deg, $color-black 0, rgba(0,212,255,0) 100%);
    box-shadow: 45px 2px 5px fade-out($color-black, 0.9);
    z-index: 0;
    transition: width 2.5s;
  }
}

.header__container {
  display: flex;
  align-items: top;
}

.header__icon-navigation {
  margin-left: auto;
  padding-left: $horizontal-spacing * 6;
}
</style>
