<template>
  <div class="headline-wrapper">
    <component :is="getTag" :class="['headline', ...classes]">
      <slot>Headline</slot>
    </component>
  </div>
</template>

<script>
export default {
  props: {
    meaning: {
      type: String,
      default: 'none',
      validator(value) {
        return ['none', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'].includes(value);
      }
    },

    theme: {
      type: String,
      default: 'h1',
      validator(value) {
        return ['h1', 'h2', 'h3', 'h4', 'h5', 'h6'].includes(value);
      }
    }
  },

  computed: {
    getTag() {
      return this.meaning === 'none' ? 'span' : this.meaning;
    },

    classes() {
      const classes = [];

      classes.push(`headline--${this.theme}`);

      return classes;
    }
  }
}
</script>

<style lang="scss">
.headline {
  margin: 0;
  padding: 0;
  font-weight: 400;

  &--h1 {
    font-family: $font-primary-stack;
    font-size: 9 * $font-sizing;
    line-height: 7 * $vertical-spacing;
  }

  &--h2 {
    font-family: $font-primary-stack;
    font-size: 7 * $font-sizing;
    line-height: 5 * $vertical-spacing;
  }

  &--h3 {
    font-family: $font-primary-stack;
    font-size: 5 * $font-sizing;
    line-height: 4 * $vertical-spacing;
  }

  &--h4,
  &--h5,
  &--h6 {
    font-family: $font-primary-stack;
    font-size: 4 * $font-sizing;
    line-height: 4 * $vertical-spacing;
  }
}

@include media-breakpoint-up(sm) {
  .headline {
    &--h1 {
      font-size: 12 * $font-sizing;
      line-height: 9 * $vertical-spacing;
    }

    &--h2 {
      font-size: 9 * $font-sizing;
      line-height: 7 * $vertical-spacing;
    }

    &--h3 {
      font-size: 7 * $font-sizing;
      line-height: 5 * $vertical-spacing;
    }

    &--h4,
    &--h5,
    &--h6 {
      font-size: 5 * $font-sizing;
      line-height: 4 * $vertical-spacing;
    }
  }
}
</style>
