<template>
  <div class="icon-navigation">
    <a class="icon-navigation__link" href="https://gitlab.com/mbertram" rel="nofollow" target="blank">
      <font-awesome-icon icon="fa-brands fa-gitlab" />
    </a>

    <a class="icon-navigation__link" href="https://www.xing.com/profile/Marvin_Bertram2" rel="nofollow" target="blank">
      <font-awesome-icon icon="fa-brands fa-xing" />
    </a>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
.icon-navigation {
  display: flex;
  gap: $horizontal-spacing * 3;
  font-size: $font-sizing * 9;

  &__link:hover {
    color: $color-primary;
  }
}

@include media-breakpoint-up(sm) {
  .icon-navigation {
    font-size: $font-sizing * 12;
  }
}
</style>
