<template>
  <nuxt-link to="/" class="logo-wrapper">
    <LogoSvg class="logo" />
  </nuxt-link>
</template>

<script>
import LogoSvg from '@/assets/svg/logo.svg?inline';

export default {
  components: {LogoSvg}
}
</script>

<style lang="scss">
.logo {
  width: 90px;
  height: auto;

  .logo__code {
    stroke: $color-black;
    stroke-width: 1px;
  }
}

@include media-breakpoint-up(sm) {
  .logo {
    width: 150px;
  }
}
</style>
