<template>
  <div class="scroll-spy">
    <div class="scroll-spy__text">
      <slot>Scroll down</slot>
    </div>

    <div class="scroll-spy__icon">
      <font-awesome-icon icon="fa-solid fa-angles-down" />
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
.scroll-spy {
  display: flex;
  flex-direction: column;
  gap: $vertical-spacing;
  justify-content: center;
  align-items: center;
  font-family: $font-primary-stack;
  font-size: $font-sizing * 5;
  font-weight: 700;
}
</style>
