<template>
  <div class="main-page">
    <ui-header class="main-page__header" />

    <nuxt />

    <ui-footer class="main-page__footer" />
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
.main-page {
  position: relative;
}

.main-page__footer {
  position: absolute;
  bottom: 0;
}
</style>
