<template>
  <ui-filmstrip :pages="1">
    <template #page-1>
      <ui-container>
        <ui-headline>
          Imprint
        </ui-headline>

        <div>
          <ui-headline meaning="h2" theme="h2">Website Terms and Conditions of Use</ui-headline>

          <ui-headline meaning="h3" theme="h3">1. Terms</ui-headline>

          <p>By accessing this Website, accessible from vin-code.dev, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.</p>

          <ui-headline meaning="h3" theme="h3">2. Use License</ui-headline>

          <p>Permission is granted to temporarily download one copy of the materials on vin-code's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>

          <ul>
              <li>modify or copy the materials;</li>
              <li>use the materials for any commercial purpose or for any public display;</li>
              <li>attempt to reverse engineer any software contained on vin-code's Website;</li>
              <li>remove any copyright or other proprietary notations from the materials; or</li>
              <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
          </ul>

          <p>This will let vin-code to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format. These Terms of Service has been created with the help of the <a href="https://www.termsofservicegenerator.net">Terms Of Service Generator</a>.</p>

          <ui-headline meaning="h3" theme="h3">3. Disclaimer</ui-headline>

          <p>All the materials on vin-code’s Website are provided "as is". vin-code makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, vin-code does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.</p>

          <ui-headline meaning="h3" theme="h3">4. Limitations</ui-headline>

          <p>vin-code or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on vin-code’s Website, even if vin-code or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.</p>

          <ui-headline meaning="h3" theme="h3">5. Revisions and Errata</ui-headline>

          <p>The materials appearing on vin-code’s Website may include technical, typographical, or photographic errors. vin-code will not promise that any of the materials in this Website are accurate, complete, or current. vin-code may change the materials contained on its Website at any time without notice. vin-code does not make any commitment to update the materials.</p>

          <ui-headline meaning="h3" theme="h3">6. Links</ui-headline>

          <p>vin-code has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by vin-code of the site. The use of any linked website is at the user’s own risk.</p>

          <ui-headline meaning="h3" theme="h3">7. Site Terms of Use Modifications</ui-headline>

          <p>vin-code may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>

          <ui-headline meaning="h3" theme="h3">8. Governing Law</ui-headline>

          <p>Any claim related to vin-code's Website shall be governed by the laws of de without regards to its conflict of law provisions.</p>
        </div>
      </ui-container>
    </template>
  </ui-filmstrip>
</template>

<script>
export default {
  layout: 'main',
  head: {
    title: 'Vin; </> - Imprint'
  }
}
</script>
