<template>
  <ui-filmstrip :pages="4">
    <template #page-1>
      <ui-container style="height: 332px;">
        <div class="center">
          <ui-headline>Frontend developer</ui-headline>

          <ui-beating-icon class="beating-heart" />

          <ui-headline class="center">
            <ui-typing-list
              :words="codeSkills"
            />
          </ui-headline>
        </div>
      </ui-container>

      <ui-scroll-spy />
    </template>

    <template #page-2>
      <ui-container>
        <ui-grid-layout>
          <ui-grid-cell :cols="{ xs: 12, md: 4, xl: 3 }">
            <ui-avatar />
          </ui-grid-cell>

          <ui-grid-cell :cols="{ xs: 12, md: 1 }"/>

          <ui-grid-cell :cols="{ xs: 12, md: 7, xl: 8 }">
            <ui-grid-layout>
              <ui-grid-cell>
                <ui-headline meaning="h2">
                  About me
                </ui-headline>
              </ui-grid-cell>

              <ui-grid-cell>
                <div>
                  Hi! My name is Marvin - I'm a frontend developer from Düsseldorf, Germany.
                  <br /><br />
                  Most of my attention is spent in creating unique web experiences. Always searching for new ideas, breathtaking technologies
                  and the small little details of the world we live in, these are my keys for the web of tomorrow.
                  <br /><br />
                  For 7 years I'm part of these overwhelming progress of the web.
                  A progress driven by thoughts of millions of people all over the world.
                  A magical place for education and the base for my continues increasing skillset.
                </div>
              </ui-grid-cell>
            </ui-grid-layout>
          </ui-grid-cell>
        </ui-grid-layout>
      </ui-container>
    </template>

    <template #page-3>
      <ui-animated-background />

      <ui-container style="z-index: 1;">
        <ui-grid-layout>
          <ui-grid-cell>
            <ui-headline>
              My skillset
            </ui-headline>
          </ui-grid-cell>

          <ui-grid-cell />

          <ui-grid-cell>
            <ui-headline theme="h2">
              Professional
            </ui-headline>
          </ui-grid-cell>

          <ui-grid-cell>
            <ui-badge-list>
              <ui-badge v-for="skill, key in codeSkills" :key="key">{{ skill }}</ui-badge>
            </ui-badge-list>
          </ui-grid-cell>

          <ui-grid-cell />

          <ui-grid-cell>
            <ui-headline theme="h2">
              Softskills
            </ui-headline>
          </ui-grid-cell>

          <ui-grid-cell>
            <ui-badge-list>
              <ui-badge>Creativity</ui-badge>
              <ui-badge>Teamwork</ui-badge>
              <ui-badge>Self-sufficient</ui-badge>
            </ui-badge-list>
          </ui-grid-cell>
        </ui-grid-layout>
      </ui-container>
    </template>

    <template #page-4>
      <ui-container>
        <ui-grid-layout>
          <ui-grid-cell :cols="{ xs: 12, md: 7, xl: 8 }">
            <ui-headline>
              Let's shape the future of the web together
            </ui-headline>
          </ui-grid-cell>

          <ui-grid-cell />

          <ui-grid-cell  :cols="{ xs: 12, md: 7, xl: 8 }" :style="'justify-content: flex-end;'">
            <ui-button-list />
          </ui-grid-cell>
        </ui-grid-layout>
      </ui-container>
    </template>
  </ui-filmstrip>
</template>

<script>
export default {
  layout: 'main',

  data() {
    return {
      codeSkills: [
        'HTML',
        'SVG',
        'CSS',
        'SCSS',
        'PostCSS',
        'Responsive',
        'Mobile first',
        'JavaScript',
        'TypeScript',
        'Node.js',
        'npm',
        'Vue.js',
        'Nuxt.js',
        'Webpack',
        'GreenSock',
        'PWA',
        'Regex',
        'IndexedDB',
        'Browsers',
        'Storybook',
        'git',
        'GitLab',
        'GitHub',
        'CI/CD',
        'ESLint',
        'Stylelint',
        'Figma',
        'Avocode'
      ]
    };
  },

  head: {
    title: 'Vin; </> - Home'
  }
}
</script>

<style lang="scss">
.content-page {
  position: relative;
}

.center {
  text-align: center;
}

.typing-list {
  max-height: 72px;
}

.beating-heart {
  color: $color-primary;
  margin: $vertical-spacing * 3 auto;
  width: $horizontal-spacing * 17 !important;
}

.scroll-spy {
  position: absolute;
  bottom: $vertical-spacing * 2;
}

.default-page__footer {
  position: absolute;
  bottom: 0;
}
</style>
