<template>
  <div class="content-page-navigation">
    <template v-for="item in items">
      <ui-content-page-navigation-item
        :key="item"
        class="content-page-navigation__item"
        :active="isItemActive(item)"
        :style="`animation-duration: ${0.5 * item}s`"
        @click.native="onPageItemClicked(item)"
      />
    </template>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Number,
      default: 5
    },

    activeItem: {
      type: Number,
      default: 1
    }
  },

  data() {
    return {
      internalActiveItem: {
        type: Number,
        default: 1
      }
    };
  },

  computed: {
    isItemActive() {
      return (item) => item === this.internalActiveItem;
    }
  },

  watch: {
    activeItem(newValue) {
      this.internalActiveItem = newValue;
    }
  },

  mounted() {
    this.internalActiveItem = this.activeItem;
  },

  methods: {
    onPageItemClicked(item) {
      this.internalActiveItem = item;

      this.$emit('pageItemChanged', { activeItem: this.internalActiveItem });
    }
  }
}
</script>

<style lang="scss">
.content-page-navigation {
  display: flex;
  flex-direction: column;
  gap: $vertical-spacing * 2;
}
</style>
