@mixin layer($layername: '') {
  $layer: map-get($layers, $layername);

  @if not $layer {
    @error('Invalid layer name. Check if you added it in the variables section');
  }

  @layer #{$layer} {
    @content;
  }
}
