@mixin media-breakpoint-up($viewport: xs) {
  $viewportSize: map-get($viewports, $viewport);

  @if $viewport == xs {
    @content;
  } @else {
    @media screen and (min-width: #{$viewportSize}) {
      @content;
    }
  }
}
