<template>
  <div :class="['grid-cell', ...classes]">
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    rows: {
      type: Object,
      default: () => ({ xs: 1 })
    },

    cols: {
      type: Object,
      default: () => ({ xs: 12 })
    }
  },

  computed: {
    classes() {
      const classes = [];

      Object.keys(this.cols).forEach(viewport => {
        classes.push(`grid-cell__col-${viewport}-${this.cols[viewport]}`);
      });

      Object.keys(this.rows).forEach(viewport => {
        classes.push(`grid-cell__row-${viewport}-${this.rows[viewport]}`);
      });

      return classes;
    }
  }
}
</script>

<style lang="scss">
@each $viewport-name, $viewport-size in $viewports {
  @for $column-width from 1 through $grid-columns {
    @include media-breakpoint-up($viewport-name) {
      .grid-cell__col-#{$viewport-name}-#{$column-width} {
        grid-column: span $column-width;
      }

      .grid-cell__row-#{$viewport-name}-#{$column-width} {
        grid-row: span $column-width;
      }
    }
  }
}
</style>


