<template>
  <div class="grid-layout">
    <slot />
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.grid-layout {
  display: grid;
  column-gap: $horizontal-spacing * 2;
  row-gap: $vertical-spacing * 2;
  grid-template-columns: repeat($grid-columns, 1fr);
}
</style>
